<hi title="Login">Log in </hi>
<form action="/login" method="POST">
  <div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
  </div>
  <a href="/signup">Sign Up</a>
</form>